@import "variables";

#banner {
  display: grid;
  grid-template-columns: minmax($min-panel-size, 1fr) minmax(300px, auto) minmax($min-panel-size, 1fr);
  column-gap: 30pt;
}

#sitedescr {
  text-align: center;
  margin: auto;
}

#logo {
  padding-left: $logo-padding;
  img {
    width: $logo-size;
  }
}

#sitename {
  letter-spacing: -3px;
  font-family: "blog-font";
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: bold;
  vertical-align: middle;
  /* top | right | bottom | left */
  padding: 0px $title-padding-right 0px $banner-padding-left;
  margin: auto;
  height: 100%
}

#sitedescr, #sitesocial, #sitename, #logo {
  display: inline-block;
}

#sitesocial {
  margin-right: 10px;
  text-align: right;

  li {
    padding-top: 2px;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
