@import "variables";

html {
  scroll-behavior: smooth;
  background-color: $background-color !important;
  border-top: solid $color1 $banner-top-border;
  color: $text-color;
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
}

a {
  color: $link-color;
  transition: color 150ms ease-in-out;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh - $footer-height);
}

a:hover {
  color: $link-hover;
}

.page-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(300px, $desktop-screen-size) minmax(0, 1fr);
}

.body-content-wrapper {
  max-width: $desktop-screen-size;
  clear: both;
  min-width: 460px;
  margin-left: 40px;
  margin-right: 40px;
}

.styled-list {
  h1 {
    color: $color1;
  }
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    margin-bottom: 40px;
    border-left: 3px solid lighten($background-color, 10%);
    padding-left: 20px;
    margin-left: 2px;
    transition-property: color, border-color;
    transition-duration: 500ms;

    .item-header {
      strong {
        transition: inherit;
      }
    }
  }

  .item-title {
    color: $color2;
    font-size: calc($base-font-size * 1.3);
  }

  .item-description {
    padding-top: 10px;
    padding-left: 30px;
    color: darken($text-color, 13%);
  }

  .item-metadata {
    padding-left: 20px;
    color: $color3;
    strong {
      color: inherit;
    }

    .item-category {
      color: $color1;
    }

    .item-date {
      color: #777777;
    }
  }

  .item-index {
    transition: all 200ms ease-in-out;
    font-weight: 1000;
    color: $color3;
    margin-right: 10px;
  }

  .show-more {
    font-weight: 1000;
    color: $text-color; //desaturate($color2_dark, 20%);
    border-left: unset; //3px solid desaturate($color2_dark, 20%);
    margin-left: 5px;
  }

  li:hover {
    border-left: 5px solid $link-hover;
    color: $link-hover;
    margin-left: 0px; 

    .item-header strong {
      color: $color3_light;
    }

    .item-title {
      color: $color2_light;
    }

    .item-description {
      color: $link-hover;
    }

    .item-index {
      color: $color3_light;
    }
  }
}

#welcome-message {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px $color3_dark;
  padding: 30px;
  border-radius: 10px;
  background-color: #2A2A2A;
}

footer {
  margin-bottom: 10px;

  .copyrights {
    strong {
      font-size: 22px;
    }
    text-align: center;
    // border: 1px solid #FF0000;
  }
}

@media screen and (max-width: $tablet-media) {
  .page-grid {
    grid-template-columns: auto minmax(300px, 3fr) minmax(0, 1fr);
  }
  html {
    font-size: calc($base-font-size * 1.5);
  }
  .item-title {
    font-size: calc($base-font-size * 1.5) !important;
  }
}

@media screen and (max-width: $phone-media) {
  .page-grid {
    grid-template-columns: auto minmax(300px, $desktop-screen-size) auto;
  }
  html {
    line-height: $base-font-size + 17px;
    font-size: calc($base-font-size * 1.7);
  }
  .item-title {
    font-size: calc($base-font-size * 1.8) !important;
  }
}
