@import "variables";

.err-grid {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  width: 100%;
}

.err-title {
  font-size: $title-font-size;
  line-height: $title-line-height;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  color: $color1_light;
}

.err-content {
  color: $color3-light;
  font-size: calc($base-font-size * 1.2);
}

@media screen and (max-width: $phone-media) {
  .err-title {
    font-size: calc($title-font-size * 1.5);
  }
  .err-content {
    font-size: calc($base-font-size * 2);
  }
}
