@import "variables";

.webring-footer {
  display: none;
}

#hireme {
  p {
    line-height: $hireme-line-height;
    margin-bottom: 20pt;
    margin-top: 20pt;

  }
  strong {
    color: $color2;
  }

  em {
    color: $color1;
  }
  
  h1 {
    color: $color2;
    font-size: $title-font-size;
  }

  h2 {
    color: $color1;
    margin: unset;
  }

  h3 {
    color: $color3;
    margin-top: 20pt;
  }

  a {
    text-decoration: underline;
  }

  hr {
    color: $color1;
    margin-top: 40pt;
    margin-bottom: 40pt;
  }

  #outro {
    margin-bottom: 100pt;
  }

  blockquote {
    width: fit-content;
    color: white;
    border-left: 2px solid $color2-light; //$light-gray;
    border-bottom: 2px solid $color2-light; //light-gray;
    padding: 5pt 10pt;
  }
}

$line-height-mult: 2.2;
$title-font-mult: 1.3;

@media screen and (max-width: $phone-media) {
  #hireme {
    p {
      margin-top: 2em;
      font-size: calc($base-font-size * 2.4);
      line-height: calc($base-line-height * 2.4);
    }

    hr {
      margin-top: 80pt;
      margin-bottom: 80pt;
    }

    h1 {
      font-size: calc($title-font-size * 1.6);
    }
  }
}
