@import "variables";

$hireme-line-height: 20pt;

.webring-footer {
  display: none;
}

#hireme {
  p {
    line-height: $hireme-line-height;
  }
  strong {
    color: $color2;
  }
  
  h1 {
    color: $color2;
    font-size: $title-font-size;
  }

  h2 {
    color: $color1;
    margin: unset;
  }

  h3 {
    color: $color3;
    margin-top: 20pt;
  }

  a {
    text-decoration: underline;
  }

  hr {
    color: $color1;
    margin-top: 40pt;
    margin-bottom: 40pt;
  }

  em {
    color: $color1;
  }

  #outro {
    p {
      margin-bottom: 100pt;
    }
  }
}

@media screen and (max-width: $phone-media) {
  #hireme {
    p {
      line-height: calc($hireme-line-height * 2.0);
    }
  }
}
