@import "variables";

// TODO  Find another way to override instead of using !important everywhere

$title-font-mult: 2;
$font-line-mult: 1;
$title-font-mult: 1.4;

$font-mult: 1.5;
$line-height-mult: 1.5;

@media screen and (max-width: $phone-media) {

  // Base
  html {
    font-size: calc($base-font-size * $font-mult);
    // line-height: calc($base-line-height * $line-height-mult);
  }
  .item-title {
    font-size: calc($base-font-size * $title-font-mult) !important;
  }
  .page-grid {
    grid-template-columns: 30pt auto 30pt !important;
  }

  .body-content-wrapper {
    max-width: unset;
    min-width: $phone-content-width;
  }
  .webring-footer {
    display: none;
  }

  // Post
  #post-title {
    margin-top: unset;
    line-height: calc($title-line-height * $line-height-mult) !important;
  }

  #post-content {
    line-height: calc($base-line-height * $line-height-mult) !important;
    h1 {
      margin-top: 100pt;
      font-size: calc($h1-size * $font-mult);
    }
    h2 {
      margin-top: 50pt;
      font-size: calc($h2-size * $font-mult);
    }
    h3 {
      font-size: calc($h3-size * $font-mult);
    }
  }

  code {
    white-space: unset;
  }

  blockquote {
    font-size: calc($blockquote-font-size * $font-mult);
    line-height: calc($blockquote-line-height * $line-height-mult);
  }

  // Nav
  #post-nav {
    display: none !important;
  }

  #site-nav {
    display: none !important;
  }

  #pagination span a div {
    font-size: calc($pagination-font-size * $font-mult);
  }

  // Banner
  #banner {
    grid-template-columns: $logo-size calc($left-margin-offset - $logo-size) 1fr;
  }
  #sitesocial {
    display: none !important;
  }
  #banner {
    display: block;
  }
  header { 
    padding-bottom: 10px;
  }
  #sitename {
    text-align: center;
    width: 100%;
    font-size: calc($title-font-size * 2);
    line-height: calc($title-line-height * 1.1);
    margin-bottom: 50px;
  }
  #sitedescr {
    display: flex;
    margin: 10px 0px 40px 40px;
  }
  #logo {
    width: $logo-size;
    height: 0px;
    overflow: hidden;
  }

  // Error
  .err-title {
    font-size: calc($title-font-size * 1.5);
  }

  .err-content {
    font-size: calc($base-font-size * 2);
  }

  // Hireme
  #hireme {
    p {
      line-height: calc($hireme-line-height * 2.0);
    }
  }
}
