@import "variables";

.question-container {
  border-left: 5pt solid $color1;
  padding: 10pt 10pt;
  margin: 20pt 0pt;
  list-style: none;
}

.not-numeric {
  visibility: hidden;
  height: 0pt;
}

.numeric-pro {
  visibility: hidden;
  height: 0pt;
}

#poll-footer-disclamer {
  color: gray;
  // border: 1px solid blue;
}
