// Logo
$logo-size: 120px;
$logo-padding: 30px;
$site-descr-grid: 1fr;

// Colors
$color1: #e34967; // Pink
$color2: #77de81; //67e349; //39b54a; // Green
$color3: #A2B2F0; //7B91EA; //4967E3; //4297cf; // Blue

$text-color:            #EFEFEF;
$background-color:      #181818;
$light-gray: #8F8F8F;

$color1_dark:  darken($color1, 20%);
$color2_dark:  darken($color2, 30%);
$color3_dark:  darken($color3, 20%);

$color1_light: lighten($color1, 18%);
$color2_light: lighten($color2, 17%);
$color3_light: lighten($color3, 5%);

$color1_dimmed: desaturate($color1_dark, 40%);
$color2_dimmed: desaturate($color2_dark, 40%);
$color3_dimmed: desaturate($color3_dark, 40%);

$code-background: lighten($background-color, 10%);

$link-hover: #FFF;
$link-color: $color1;

// Fonts
$base-font-size: 20px;
$title-font-size: 44px;
$blockquote-font-size: calc($base-font-size * 0.9);

$base-line-height: calc($base-font-size * 1.4);
$title-line-height: calc($title-font-size * 1.4);
$blockquote-line-height: calc($base-line-height * 0.9);

//   Screen calculation
$title-nb-chars: 10;
$banner-padding-left: 10px;
$title-padding-right: 10px;
$social-padding-right: 30px;
$pagination-font-size: 20px;

$footer-height: calc(10px + $base-font-size);
$pagination-height: 40px;
$banner-top-border: 10px;
$banner-height: calc(90px + $banner-top-border);

$left-margin-offset: ($title-nb-chars * $title-font-size) + $banner-padding-left + $title-padding-right;

// Media width threshold
$desktop-content-width: 1000px;
$tablet-content-width: 800px;
$phone-content-width: 600px;
$min-panel-size: 400px;

$tablet-media: $tablet-content-width + ($min-panel-size * 2);
$phone-media: $phone-content-width + ($min-panel-size);
