{% extends "base.html" %}

{% block meta %}
  {% set_global langage = add_endpoint_path | split(pat="/") | last %}

  {% if langage == "fr" %}
    {% set_global hireme = hireme_fr %}
  {% elif langage == "en" %}
    {% set_global hireme = hireme_en %}
  {% else %}
    {{ throw(message="Langage not set: " ~ add_endpoint_path) }}
  {% endif %}

  <meta name=" robots" content=" index">
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="{{hireme.title}}" />
  {% if site.og_image %}
  <meta property="og:image" content="{{site.base_url | safe}}/{{ site.og_image }}" />
  {% endif %}
  <meta property="og:url" content="{{ site.base_url | safe }}/{{ add_endpoint_path }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
{% endblock meta %}

{% block stylesheets %}
  <link rel="stylesheet" href="/hireme.css" />
{% endblock stylesheets %}

{% block title %}{{ hireme.title }}{% endblock title %}

{% block content %}
<div id="hireme-wrapper">
  <div class="hireme-intro">
    {{ hireme.introduction | safe }}
  </div>

  <hr>

  <section id="why">
    <h1>{{ hireme.why.title }}</h1>
    {% for par in hireme.why.body %}
    <p id="why-body-{{ loop.index0 }}" class="why-body">{{ par | safe }}</p>
    {% endfor %}
  </section>

  <hr>

  <section id="how">
    <h1>{{ hireme.how.title }}</h1>
    {% for par in hireme.how.body %}
    <p id="how-body-{{ loop.index0 }}" class="how-body">{{ par | safe }}</p>
    {% endfor %}
  </section>

  <hr>

  <section id="what">
    <h1>{{ hireme.what.title }}</h1>
    {% for par in hireme.what.body %}
    <p id="what-body-{{ loop.index0 }}" class="what-body">{{ par | safe }}</p>
    {% endfor %}
  </section>

  <hr>

  <h2>{{ hireme.outro.title }}</h2>
  <p class="hireme-outro">{{ hireme.outro.body | safe }}</p>

</div>
{% endblock content %}
