{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/poll.css" />
{% endblock stylesheets %}

{% block scripts %}
  <script type="text/javascript" src="/poll.js"></script>
{% endblock scripts %}

{% block meta %}
  <meta name=" robots" content=" index">
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="{{ poll.title }}" />
  {% if site.og_image %}
  <meta property="og:image" content="{{site.base_url | safe}}/{{ site.og_image }}" />
  {% endif %}
  <meta property="og:url" content="{{ site.base_url | safe }}/{{ add_endpoint_path }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
{% endblock meta %}

{% block title %}{{ poll.title }}{% endblock title %}

<!-- TODO  Find a way to use the macro -->
{% macro disp_question(qslug, q, addclass) %}
    <li id="{{ qslug }}" class="question-container {{ addclass }}">
      <p class="question-text">{{ q.text }}</p>

      {% if q.type == "yes_or_no" %}
        <p> Yes or No ? </p>
      {% endif %}
    </li>
{% endmacro input %}

{% block content %}
  <ul>
  {{ macros::disp_question(qslug="numeric-or-not", q=poll.numeric_or_not, addclass="") }}
  {% for qslug, q in poll.question.numeric-pro %}
    {{ macros::disp_question(qslug=qslug, q=q, addclass="numeric-pro") }}
  {% endfor %}

  {% for qslug, q in poll.question.not-numeric %}
    {{ macros::disp_question(qslug=qslug, q=q, addclass="not-numeric") }}
  {% endfor %}

  </ul>
{% endblock content %}
