{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/poll.css" />
{% endblock stylesheets %}

{% block scripts %}
  <script type="text/javascript" src="/poll.js"></script>
{% endblock scripts %}

{% block meta %}
  <meta name=" robots" content=" index">
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="{{ poll.title }}" />
  {% if site.og_image %}
  <meta property="og:image" content="{{site.base_url | safe}}/{{ site.og_image }}" />
  {% endif %}
  <meta property="og:url" content="{{ site.base_url | safe }}/{{ add_endpoint_path }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
{% endblock meta %}

{% block title %}{{ poll.title }}{% endblock title %}

{% macro disp_question(qslug, q, addclass) %}
    <li id="{{ qslug }}" class="question-container {{ addclass }}">
      <p class="question-text">{{ q.text }}</p>

      {% if q.type == "yes_or_no" %}
        <input type="radio" id="inp-{{ qslug }}-yes" name="{{ qslug }}" value="true">
        <label for="inp-{{ qslug }}-yes">Oui</label>
        <input type="radio" id="inp-{{ qslug }}-no"  name="{{ qslug }}" value="false">
        <label for="inp-{{ qslug }}-no">Non</label>
      {% endif %}
    </li>
{% endmacro disp_question %}

{% block content %}
  <form id="poll-form">
  <ul>
  {{ self::disp_question(qslug="numeric-or-not", q=poll.numeric_or_not, addclass="") }}

  {% for qslug, q in poll.question["numeric-pro"] %}
    {{ self::disp_question(qslug=qslug, q=q, addclass="numeric-pro") }}
  {% endfor %}

  {% for qslug, q in poll.question["not-numeric"] %}
    {{ self::disp_question(qslug=qslug, q=q, addclass="not-numeric") }}
  {% endfor %}

  </ul>
  </form>
{% endblock content %}
